{% extends 'layout.html' %}

{% block content %}
<div class="product">
	<input type="hidden" value="{{product.id}}" class="product-id" />
	<div class="buy-name">
		{{product.name}}
	</div>
	<div class="product-img">
		<img src="img/{{product.img}}" alt="product" />
	</div>
	<div class="product-price">
		{{buy.price}}원
	</div>
	<div>
		<input type="number" name="count" placeholder="구매 수량" min="1" value="1" />
		<a href="" class="basket btn">장바구니 담기</a
		><a href="" class="direct-buy btn">바로 구매</a>
	</div>
</div>
<hr />
<div class="comment">
	<div class="comment-info">
		{{comment.user}}
		<span class="star-rating">
			<span style="width:{{comment.rating}}%"></span>
		</span>
		<br />
		<span class="comment-content">{{comment.content}}</span>
	</div>
</div>
{% endblock %}